.tag1 {
	width: 100%;
	height: 5%; //
	background-color: blue;
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
}

.header {
	width: 100%;
	height: 150px;
	/*border:2px solid red;*/
	background-color: TURQUOISE;
	border: 1px solid;
}
#quantity {
				/*font-size: 20px;*/
				padding: 5px;
				width: 23%;
				border: 1px solid black;
}

#addrs {
	margin-top: -54px;
	width: 30%;
	height: -50px;
	/*border:2px solid red;
	background-color:bisque;*/
	margin-left: 697px;
}

.container {
	font-size: 20px;
	width: 100%;
	height: 380px;
	/*background-color:yellow;*/
	font-family: Times New Roman;
	border: 1px solid black;
}

.ItemNo {
	float: left;
	width: 10%;
	height: 100%;
	border: 2px black;
	background-color: PALEGOLDENROD;
}

.ItemDescription {
	float: left;
	width: 23%;
	height: 100%;
	border: 2px black;
	background-color: LAVENDER;
}

.Quantity {
	float: left;
	width: 17%;
	height: 100%;
	border: 2px black;
	background-color: PALEGOLDENROD;
}

.ListPrice {
	float: left;
	width: 15%;
	height: 100%;
	border: 2px black;
	background-color: LAVENDER;
}

.EmartPrice {
	float: left;
	width: 15%;
	height: 100%;
	border: 2px black;
	background-color: PALEGOLDENROD;
}

.Amount {
	float: left;
	width: 10%;
	height: 100%;
	border: 2px black;
	background-color: LAVENDER;
}

.Remove {
	float: left;
	width: 10%;
	height: 100%;
	border: 2px black;
	background-color: PALEGOLDENROD;
}

.footer {
	width: 100%;
	height: 90px;
	margin-top: 00px;
	background-color: TURQUOISE;
	border: 1px solid black;
	/*border:2px solid red;*/
}