.Header {
	width: 100%;
	height: 5%; //
	background-color: blue;
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
}

.container {
	font-size: 20px;
	width: 100%;
	height: 70%;
	/*background-color:yellow;*/
	font-family: Times New Roman;
	border: 1px solid black;
}

.LeftNav {
	float: left;
	width: 40%;
	height: 100%;
	border: 2px black;
	background-color: PALEGOLDENROD;
}

.RightContainer{
float: left;
	width: 60%;
	height: 100%;
	border: 2px black;
	background-color: yellow;
}


.ProductName {
	float: left;
	width: 100%;
	height: 20%;
	border: 2px black;
	background-color: LAVENDER;
}

.Specification{
	
	float: left;
	width: 100%;
	margin-top: 0%;
	text-align: center;
	height: 35%;
	border: 2px black;
	background-color: pink;
	
	
}
.SellingPrice{
	
	float: left;
	width: 100%;
	margin-top: 0%;
	text-align: center;
	height: 28%;
	border: 2px black;
	background-color: blue;	
}

.UsePoint{
	
	float: left;
	width: 100%;
	margin-top: 0%;
	text-align: center;
	height: 17%;
	border: 2px black;
	background-color: gray;	
}

